{% extends 'blog/base.html' %} {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Django Girls blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
    />
  </head>
  <body>
    <header class="page-header">
      <div class="container">
        <h1><a href="/">Django Girls Blog</a></h1>
      </div>
    </header>

    {% block content %} {% for post in posts %}
    <article class="post">
      <time class="date"> {{ post.published_date }} </time>
      <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
    </article>
    {% endfor %} {% endblock %}
  </body>
</html>
